<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensenets.sinopec.buiness.dao.SensorsMapper">
    <resultMap id="BaseResultMap" type="com.sensenets.sinopec.buiness.model.Sensors">
        <id column="sensor_id" jdbcType="VARCHAR" property="sensorId" />
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="uts" jdbcType="TIMESTAMP" property="uts" />
        <result column="repo_id" jdbcType="VARCHAR" property="repoId" />
        <result column="sensor_name" jdbcType="VARCHAR" property="sensorName" />
        <result column="sensor_sn" jdbcType="VARCHAR" property="sensorSn" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="longitude" jdbcType="BIGINT" property="longitude" />
        <result column="latitude" jdbcType="BIGINT" property="latitude" />
        <result column="type" jdbcType="SMALLINT" property="type" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
        <result column="port" jdbcType="VARCHAR" property="port" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="renderedurl" jdbcType="VARCHAR" property="renderedurl" />
        <result column="rtmpurl" jdbcType="VARCHAR" property="rtmpurl" />
        <result column="live_active" jdbcType="BIT" property="liveActive" />
        <result column="data_active" jdbcType="BIT" property="dataActive" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="rois" jdbcType="VARCHAR" property="rois" />
        <result column="lanes" jdbcType="VARCHAR" property="lanes" />
        <result column="platform_type" jdbcType="SMALLINT" property="platformType" />
        <result column="group_type" jdbcType="SMALLINT" property="groupType" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from "sensors"
        where sensor_id = #{sensorId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.sensenets.sinopec.buiness.model.Sensors">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            PostgreSQL
        </selectKey>
        insert into "sensors" (sensor_id, uts, repo_id, 
            sensor_name, sensor_sn, user_id, 
            longitude, latitude, type, 
            ip, port, url, renderedurl, 
            rtmpurl, live_active, data_active, 
            comment, status, rois, 
            lanes, platform_type, group_type
            )
        values (#{sensorId,jdbcType=VARCHAR}, #{uts,jdbcType=TIMESTAMP}, #{repoId,jdbcType=VARCHAR}, 
            #{sensorName,jdbcType=VARCHAR}, #{sensorSn,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
            #{longitude,jdbcType=BIGINT}, #{latitude,jdbcType=BIGINT}, #{type,jdbcType=SMALLINT}, 
            #{ip,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{renderedurl,jdbcType=VARCHAR}, 
            #{rtmpurl,jdbcType=VARCHAR}, #{liveActive,jdbcType=BIT}, #{dataActive,jdbcType=BIT}, 
            #{comment,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{rois,jdbcType=VARCHAR}, 
            #{lanes,jdbcType=VARCHAR}, #{platformType,jdbcType=SMALLINT}, #{groupType,jdbcType=SMALLINT}
            )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.sensenets.sinopec.buiness.model.Sensors">
        update "sensors"
        set id = #{id,jdbcType=BIGINT},
            uts = #{uts,jdbcType=TIMESTAMP},
            repo_id = #{repoId,jdbcType=VARCHAR},
            sensor_name = #{sensorName,jdbcType=VARCHAR},
            sensor_sn = #{sensorSn,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=VARCHAR},
            longitude = #{longitude,jdbcType=BIGINT},
            latitude = #{latitude,jdbcType=BIGINT},
            type = #{type,jdbcType=SMALLINT},
            ip = #{ip,jdbcType=VARCHAR},
            port = #{port,jdbcType=VARCHAR},
            url = #{url,jdbcType=VARCHAR},
            renderedurl = #{renderedurl,jdbcType=VARCHAR},
            rtmpurl = #{rtmpurl,jdbcType=VARCHAR},
            live_active = #{liveActive,jdbcType=BIT},
            data_active = #{dataActive,jdbcType=BIT},
            comment = #{comment,jdbcType=VARCHAR},
            status = #{status,jdbcType=SMALLINT},
            rois = #{rois,jdbcType=VARCHAR},
            lanes = #{lanes,jdbcType=VARCHAR},
            platform_type = #{platformType,jdbcType=SMALLINT},
            group_type = #{groupType,jdbcType=SMALLINT}
        where sensor_id = #{sensorId,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select sensor_id, id, uts, repo_id, sensor_name, sensor_sn, user_id, longitude, latitude, 
        type, ip, port, url, renderedurl, rtmpurl, live_active, data_active, comment, status, 
        rois, lanes, platform_type, group_type
        from "sensors"
        where sensor_id = #{sensorId,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select sensor_id, id, uts, repo_id, sensor_name, sensor_sn, user_id, longitude, latitude, 
        type, ip, port, url, renderedurl, rtmpurl, live_active, data_active, comment, status, 
        rois, lanes, platform_type, group_type
        from "sensors"
    </select>
</mapper>