<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensenets.sinopec.buiness.dao.SensorRoleSensorsMapper">
    <resultMap id="BaseResultMap" type="com.sensenets.sinopec.buiness.model.SensorRoleSensors">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uts" jdbcType="TIMESTAMP" property="uts" />
        <result column="sensor_role_id" jdbcType="VARCHAR" property="sensorRoleId" />
        <result column="sensor_id" jdbcType="VARCHAR" property="sensorId" />
        <result column="status" jdbcType="SMALLINT" property="status" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from "sensor_role_sensors"
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.sensenets.sinopec.buiness.model.SensorRoleSensors">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            PostgreSQL
        </selectKey>
        insert into "sensor_role_sensors" (uts, sensor_role_id, sensor_id, 
            status)
        values (#{uts,jdbcType=TIMESTAMP}, #{sensorRoleId,jdbcType=VARCHAR}, #{sensorId,jdbcType=VARCHAR}, 
            #{status,jdbcType=SMALLINT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.sensenets.sinopec.buiness.model.SensorRoleSensors">
        update "sensor_role_sensors"
        set uts = #{uts,jdbcType=TIMESTAMP},
            sensor_role_id = #{sensorRoleId,jdbcType=VARCHAR},
            sensor_id = #{sensorId,jdbcType=VARCHAR},
            status = #{status,jdbcType=SMALLINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, uts, sensor_role_id, sensor_id, status
        from "sensor_role_sensors"
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, uts, sensor_role_id, sensor_id, status
        from "sensor_role_sensors"
    </select>
</mapper>