<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensenets.sinopec.buiness.dao.SensorsViewMapper">
    <resultMap id="BaseResultMap" type="com.sensenets.sinopec.buiness.model.SensorsView">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="uts" jdbcType="TIMESTAMP" property="uts" />
        <result column="repo_id" jdbcType="VARCHAR" property="repoId" />
        <result column="sensor_id" jdbcType="VARCHAR" property="sensorId" />
        <result column="sensor_name" jdbcType="VARCHAR" property="sensorName" />
        <result column="sensor_sn" jdbcType="VARCHAR" property="sensorSn" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="longitude" jdbcType="BIGINT" property="longitude" />
        <result column="latitude" jdbcType="BIGINT" property="latitude" />
        <result column="type" jdbcType="SMALLINT" property="type" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
        <result column="port" jdbcType="VARCHAR" property="port" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="renderedurl" jdbcType="VARCHAR" property="renderedurl" />
        <result column="rtmpurl" jdbcType="VARCHAR" property="rtmpurl" />
        <result column="live_active" jdbcType="BIT" property="liveActive" />
        <result column="data_active" jdbcType="BIT" property="dataActive" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="rois" jdbcType="VARCHAR" property="rois" />
        <result column="repo_name" jdbcType="VARCHAR" property="repoName" />
    </resultMap>
    <insert id="insert" parameterType="com.sensenets.sinopec.buiness.model.SensorsView">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            PostgreSQL
        </selectKey>
        insert into "sensors_view" (uts, repo_id, sensor_id, 
            sensor_name, sensor_sn, user_id, 
            longitude, latitude, type, 
            ip, port, url, renderedurl, 
            rtmpurl, live_active, data_active, 
            comment, status, rois, 
            repo_name)
        values (#{uts,jdbcType=TIMESTAMP}, #{repoId,jdbcType=VARCHAR}, #{sensorId,jdbcType=VARCHAR}, 
            #{sensorName,jdbcType=VARCHAR}, #{sensorSn,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
            #{longitude,jdbcType=BIGINT}, #{latitude,jdbcType=BIGINT}, #{type,jdbcType=SMALLINT}, 
            #{ip,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{renderedurl,jdbcType=VARCHAR}, 
            #{rtmpurl,jdbcType=VARCHAR}, #{liveActive,jdbcType=BIT}, #{dataActive,jdbcType=BIT}, 
            #{comment,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{rois,jdbcType=VARCHAR}, 
            #{repoName,jdbcType=VARCHAR})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, uts, repo_id, sensor_id, sensor_name, sensor_sn, user_id, longitude, latitude, 
        type, ip, port, url, renderedurl, rtmpurl, live_active, data_active, comment, status, 
        rois, repo_name
        from "sensors_view"
    </select>
</mapper>