<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensenets.sinopec.buiness.dao.VjUserLoginViewMapper">
    <resultMap id="BaseResultMap" type="com.sensenets.sinopec.buiness.model.VjUserLoginView">
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_type" jdbcType="SMALLINT" property="userType" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
        <result column="pwd" jdbcType="VARCHAR" property="pwd" />
        <result column="enable" jdbcType="SMALLINT" property="enable" />
        <result column="func_role_id" jdbcType="VARCHAR" property="funcRoleId" />
        <result column="func_role_status" jdbcType="SMALLINT" property="funcRoleStatus" />
        <result column="func_role_type" jdbcType="SMALLINT" property="funcRoleType" />
        <result column="sensor_role_id" jdbcType="VARCHAR" property="sensorRoleId" />
        <result column="sensor_role_status" jdbcType="SMALLINT" property="sensorRoleStatus" />
        <result column="sensor_role_type" jdbcType="SMALLINT" property="sensorRoleType" />
    </resultMap>
    
    <select id="selectByUserInfo" resultMap="BaseResultMap" parameterType="com.sensenets.sinopec.buiness.model.VjUserLoginView" >
        select user_id, user_name, user_type, status, real_name, pwd, enable, func_role_id, 
        func_role_status, func_role_type, sensor_role_id, sensor_role_status, sensor_role_type
        from "vj_user_login_view" 
        where 
        user_name = #{userName,jdbcType=VARCHAR}
    </select>
</mapper>