<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.sensenets.sinopec.buiness.dao.two.OrgMapper">

  <resultMap id="BaseResultMap" type="com.sensenets.sinopec.buiness.model.two.Org">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uts" jdbcType="TIMESTAMP" property="uts" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <sql id="BaseColumn"> id, name, uts </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from public.org
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" useGeneratedKeys="true"  >
    insert into public.org (uts, name
      )
    values ( #{uts,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey"  >
    update public.org
    set uts = #{uts,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, uts, name
    from public.org
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, uts, name
    from public.org
  </select>

  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.sensenets.sinopec.buiness.condition.OrgCondition" >
    select <include refid="BaseColumn"/>
    from public.org
    where 1=1
    <if test="condition.name != null and condition.name!=''">
    and name::text like concat('%', #{condition.name},'%')
    </if>

    <if test="condition.genStartTime != null">
      and uts >= #{condition.genStartTime}
    </if>
    <if test="condition.genEndTime != null">
      <![CDATA[
      and uts <= #{condition.genEndTime}
      ]]>
    </if>
  </select>


</mapper>