<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensenets.sinopec.buiness.dao.one.TaskViewMapper">
    <resultMap id="BaseResultMap" type="com.sensenets.sinopec.buiness.model.one.TaskView">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="uts" jdbcType="TIMESTAMP" property="uts" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="ts" jdbcType="BIGINT" property="ts" />
        <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
        <result column="olympus_id" jdbcType="VARCHAR" property="olympusId" />
        <result column="stream_id" jdbcType="VARCHAR" property="streamId" />
        <result column="det_types" jdbcType="VARCHAR" property="detTypes" />
        <result column="speed" jdbcType="INTEGER" property="speed" />
        <result column="relative_rois" jdbcType="VARCHAR" property="relativeRois" />
        <result column="polygon_rois" jdbcType="VARCHAR" property="polygonRois" />
        <result column="filter_threshold" jdbcType="DOUBLE" property="filterThreshold" />
        <result column="user_configs" jdbcType="VARCHAR" property="userConfigs" />
        <result column="base_time" jdbcType="BIGINT" property="baseTime" />
        <result column="start_time" jdbcType="BIGINT" property="startTime" />
        <result column="terminate_time" jdbcType="BIGINT" property="terminateTime" />
        <result column="finish_time" jdbcType="BIGINT" property="finishTime" />
        <result column="switcher" jdbcType="SMALLINT" property="switcher" />
        <result column="task_status" jdbcType="SMALLINT" property="taskStatus" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="snapshot" jdbcType="INTEGER" property="snapshot" />
        <result column="type" jdbcType="SMALLINT" property="type" />
        <result column="uri" jdbcType="VARCHAR" property="uri" />
        <result column="repo_id" jdbcType="VARCHAR" property="repoId" />
        <result column="repo_name" jdbcType="VARCHAR" property="repoName" />
        <result column="sensor_id" jdbcType="VARCHAR" property="sensorId" />
        <result column="sensor_name" jdbcType="VARCHAR" property="sensorName" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="priority" jdbcType="SMALLINT" property="priority" />
    </resultMap>
    <insert id="insert" parameterType="com.sensenets.sinopec.buiness.model.one.TaskView">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            PostgreSQL
        </selectKey>
        insert into "task_view" (uts, name, ts, 
            source_id, olympus_id, stream_id, 
            det_types, speed, relative_rois, 
            polygon_rois, filter_threshold, user_configs, 
            base_time, start_time, terminate_time, 
            finish_time, switcher, task_status, 
            status, snapshot, type, 
            uri, repo_id, repo_name, 
            sensor_id, sensor_name, task_id, 
            user_id, priority)
        values (#{uts,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, #{ts,jdbcType=BIGINT}, 
            #{sourceId,jdbcType=VARCHAR}, #{olympusId,jdbcType=VARCHAR}, #{streamId,jdbcType=VARCHAR}, 
            #{detTypes,jdbcType=VARCHAR}, #{speed,jdbcType=INTEGER}, #{relativeRois,jdbcType=VARCHAR}, 
            #{polygonRois,jdbcType=VARCHAR}, #{filterThreshold,jdbcType=DOUBLE}, #{userConfigs,jdbcType=VARCHAR}, 
            #{baseTime,jdbcType=BIGINT}, #{startTime,jdbcType=BIGINT}, #{terminateTime,jdbcType=BIGINT}, 
            #{finishTime,jdbcType=BIGINT}, #{switcher,jdbcType=SMALLINT}, #{taskStatus,jdbcType=SMALLINT}, 
            #{status,jdbcType=SMALLINT}, #{snapshot,jdbcType=INTEGER}, #{type,jdbcType=SMALLINT}, 
            #{uri,jdbcType=VARCHAR}, #{repoId,jdbcType=VARCHAR}, #{repoName,jdbcType=VARCHAR}, 
            #{sensorId,jdbcType=VARCHAR}, #{sensorName,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, 
            #{userId,jdbcType=VARCHAR}, #{priority,jdbcType=SMALLINT})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, uts, name, ts, source_id, olympus_id, stream_id, det_types, speed, relative_rois, 
        polygon_rois, filter_threshold, user_configs, base_time, start_time, terminate_time, 
        finish_time, switcher, task_status, status, snapshot, type, uri, repo_id, repo_name, 
        sensor_id, sensor_name, task_id, user_id, priority
        from "task_view"
    </select>
</mapper>